<!DOCTYPE html>
<head>
  <title>CAIM LLM test</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='caim.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='caim.png') }}" class="icon" />
  <h3>CAIM Playground-chatGPT (unofficial)</h3>
  <form action="/" method="post">
{#    <input type="text" name="prompt" placeholder="Talk to me" required />#}
    <textarea name="prompt" rows="4" cols="50" placeholder="Talk to me" required>

    </textarea>
    <input type="submit" value="Submit" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
